/*Hide elementos of Pagination*/
.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-l-md.leading-5 {
    display: none!important;
}

.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-r-md.leading-5.ring-gray-300.transition.ease-in-out.duration-150{
    display: none!important;
}

.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-l-md.leading-5.ring-gray-300.transition.ease-in-out.duration-150{
    display: none!important;
}

.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-r-md.leading-5{
    display: none!important;
}

.text-sm.text-gray-700.leading-5 {
    margin-top: 1.5rem!important;
    text-align: center!important;
}

.relative.z-0.inline-flex.shadow-sm.rounded-md{
    display: inline-block!important;
    margin-top: -1.5rem!important;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center!important;
}

.noborderForm{
    border: none!important;
}

/*Style Button Secondary*/
.btn-secondary {
    background-color: #f2f2f2!important;
    border: 1px solid #ccc!important;
    color: #333!important; 
    padding: 10px 20px!important; 
    font-size: 14px!important; 
    font-weight: bold!important; 
    text-decoration: none!important; 
    transition: background-color 0.3s ease!important;
    cursor: pointer!important; 
    border-radius: 10px!important; 
}
  
.btn-secondary:hover {
    background-color: #ddd!important; 
}

/*Style Button Info*/
.btn-info {
    background-color: #184767!important; 
    border: none!important;
    color: #ffffff!important; 
    padding: 10px 20px!important; 
    font-size: 14px!important; 
    font-weight: bold!important; 
    text-decoration: none!important; 
    transition: background-color 0.3s ease!important; 
    cursor: pointer!important; 
    border-radius: 10px!important;
}

.btn-info:hover {
    background-color: #2980b9!important;
}
  
/*Style Button Warning*/
.btn-warning {
    background-color: #b70e0e!important; 
    border: none!important;
    color: #ffffff!important; 
    padding: 10px 20px!important; 
    font-size: 14px!important; 
    font-weight: bold!important; 
    text-decoration: none!important; 
    transition: background-color 0.3s ease!important; 
    cursor: pointer!important; 
    border-radius: 10px!important;
}

.btn-warning:hover {
    background-color: #ff0000!important;
}
  
/*Style Table*/
.custom-table {
    width: 100%!important;
    border-collapse: collapse!important;
    background-color: #f8f9fa!important; 
}

.custom-table th, .custom-table td {
    padding: 10px!important;
    border: 1px solid #dee2e6!important; 
}

.custom-table th {
    background-color: #343a40!important; 
    color: #fff!important;
}

.custom-table td {
    background-color: #fff!important;
}

.custom-table a.btn {
    padding: 5px 10px!important;
    text-decoration: none!important;
}

.custom-table a.btn:hover {
    background-color: #007bff!important;
    color: #fff!important;
}

.pagination {
    margin-top: 20px!important;
}

.table-container {
    overflow-x: auto!important; 
    white-space: nowrap!important;
    max-width: 100%!important;
}

table {
    width: 100%!important; 
}

/* Style Categories List */
.item.item-name {
    font-weight: bold!important;
    color: #0e1c24!important;
}

.item.item-description {
    font-style: italic!important;
    color: #6c6463!important;
}

.textAvailable{
    font-style: bold!important;
    font-style: italic!important;
}

.textNotAvailable{
    font-style: bold!important;
    font-style: italic!important;
}

#bookNotAvailable {
    display: inline-block;
    background-color: #f7b731; /* Color de fondo */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px; /* Espacio interno */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 10px; /* Margen superior para separarlo de otros elementos */
}

#chkNotification {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

.textNotAvailable {
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

#bookAvailable {
    display: inline-block;
    background-color: #28a745; /* Color de fondo diferente */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px; /* Espacio interno */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 10px; /* Margen superior para separarlo de otros elementos */
}

.textAvailable {
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}